#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Assuming the search field has a class name of 'ais-SearchBox-input' */
.ais-SearchBox-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style the search button if applicable */
.ais-SearchBox-submit {
  /* background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; */
  display: none;
}

/* Example hover effect for the search button */
.ais-SearchBox-submit:hover {
  background-color: #0056b3;
}

.ais-InfiniteHits-loadMore{
  display: none;
}
.ais-SearchBox-reset {
  display: none;
}
.ais-SearchBox-reset{
  display: none;
}