body {
    font-family: "Inter", sans-serif !important;
}

.navbar-logo {
    width: 200px;
    height: 50px;
}

.navbar {
    background-color: #fff;
}

.bottom-navbar {
    height: 40px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #ce2a1e !important;
    font-weight: 500;
}

.navbar-nav li a:hover {
    color: #d6675f !important;
}

.dropdown .dropdown-menu {
    width: auto;
}

.carousel-item {
    height: 30rem;
    background: #777;
    color: white;
    position: relative;
}

.col-md-6 .card {
    border-radius: 1.5em;
}

.col-md-12 .card {
    border-radius: 1.5em;
}

.col-md-12 .conventer-card {
    background-color: rgb(224, 224, 224);
    border: none;
}

.currency-conventer .card .card-body .input-group input {
    background-color: #eceeed;
    border-radius: 0.4em;
}

.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    background-color: #d2322d;
    color: #fff;
    border-radius: 0.4em;
}

.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback):hover {
    background-color: #ff3a33;
}

.col .card {
    border-radius: 1.5em;
    border: none;
}

.col .asd {
    background-color: rgb(224, 224, 224);
}

.row .col-md-6 .for-you-card {
    border-radius: 1.5em;
    background-image: linear-gradient(to right, #ca4b47, #c42924, #af120c);
    border: none;
}

.row .col-md-6 .for-you-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.container .nav-tabs {
    border-bottom: none;
}

.container .left-tabs .nav-link {
    background-color: #f0a5a0;
    color: #fff;
    border-radius: 2.5rem;
    border: none;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.container .left-tabs .nav-link.active {
    background-color: #d2322d;
    color: #fff;
}

.container .tab-content .tab-pane .col .card .card-body .row .col-md-5 .card .card-body .col-6 .calculate-btn {
    background-color: #d2322d;
    border: none;
}

.container .tab-content .tab-pane .col .card .card-body .row .col-md-5 .card .card-body .col-6 .calculate-btn:hover {
    background-color: #ff3a33;
}

.bank-info {
    background-color: #fcf0ef;
    padding-top: 2%;
    padding-bottom: 1%;
}

.card-body .form-control {
    border-radius: 0.4em;
    height: 50px;
}

.card-body .form-select {
    border-radius: 0.4em;
    height: 50px;
}

.title-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.paragraph-section {
    padding-top: 2%;
    padding-bottom: 1%;
}

.accordion {
    border: none !important;
}

.accordion-item {
    margin-bottom: 10px;
    border: none !important;
}

.accordion-header .accordion-button {
    font-size: 17px;
    font-weight: 500;
}

.accordion-button {
    border-radius: 0.5rem !important;
}

.accordion-button:not(.collapsed) {
    background-color: #d2322d !important;
    color: #fff !important;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:hover {
    background: #fcd8d8;
}

.container .paragraph-card {
    border-radius: 1.5em;
    border: none;
}

.info-card .card {
    border-radius: 1.5em;
}

.info-card .card .card-title {
    color: #d2322d;
}

.card-icon img {
    height: 23px;
    width: 23px;
}

.partner-icon img {
    height: 180px;
    width: 180px;
}

.card-plus-partner-card .card {
    padding-top: 25px;
}

.card-plus-partner-card .card:hover {
    /* transform: scale(1.05); */
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-plus-function-card .card {
    border: none;
}

.card .card-body .form-check-input:hover {
    transition: background-color 0.3s ease, border-color 0.3s ease;
    background-color: #ced4da;
}

.card .card-body .form-check-input:checked {
    border: none;
    background-color: #d2322d;

}

.application-form .card {
    box-shadow: 0.1em 0.3em 1em rgba(0.3, 0.3, 0.3, 0.3);
    border-radius: 1.5em;
}

form .submit-btn {
    background-color: #d2322d;
    color: #fff;
}

form .submit-btn:hover {
    background-color: #ff3a33;
    color: #fff;
}